{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}
{% if not is_popup %}
{% block breadcrumbs %}
<style>
	td {
		font-size: 16px;
	}
</style>
<div class="row mb-2">
	<div class="col-sm-4">
		<h2>{{title}}</h2>
	</div>
	<div class="col-sm-8">
		<ol class="breadcrumb float-sm-right">
			<li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
			<li class="breadcrumb-item"><a
					href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
			</li>
			<li class="breadcrumb-item">
				{% if has_change_permission %}<a
					href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
			</li>

			<li class="breadcrumb-item active">{% if add %}{% blocktrans with name=opts.verbose_name %}Add
				{{ name }}{% endblocktrans %}{% else %}{{ original|truncatewords:"18" }}{% endif %}</li>
		</ol>
	</div>
</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}
{% block content %}
<div id="content-main" class="container-fluid">
	<div class="content">
		<div class="inner">
			<div class="container">

				<ul class="tabs">
					<li class="tab-link current" data-tab="tab-1">Basic Details</li>
					<li class="tab-link" data-tab="tab-2">Vehicles</li>
				</ul>

				<div id="tab-1" class="tab-content current">
					<table class="table table-striped">
						<tr>
							<td>Full Name : </td>
							<td>{{userDetail.user.first_name}} {{userDetail.user.last_name}}</td>
						</tr>
						<tr>
							<td>Email : </td>
							<td>{{userDetail.user.email}}</td>
						</tr>
						<tr>
							<td>Hospital Name : </td>
							<td>{{userDetail.hospital_name}}</td>
						</tr>
						<tr>
							<td>Registration No: </td>
							<td>{{userDetail.registration_no}}</td>
						</tr>
						<tr>
							<td>Phone : </td>
							<td>{{userDetail.phone}}</td>
						</tr>
						<tr>
							<td>Status : </td>
							<td>
								{% if userDetail.status == 0  %}
								Pending
								{% elif userDetail.status == 1  %}
								Active
								{% elif userDetail.status == 2  %}
								Rejected
								{% elif userDetail.status == 3  %}
								Deleted
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>Address : </td>
							<td>{{userDetail.address}}</td>
						</tr>

					</table>


				</div>
				<div id="tab-2" class="tab-content">
					<div class="container">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="text-center">Vehicle No</th>
									<th class="text-center">Mileage</th>
									<th class="text-center">Status</th>
									<th class="text-center">Vehicle Category</th>
								</tr>
							</thead>
							<tbody>
								{% if Vehicle %}
								{% for vehicle_list in Vehicle %}
								<tr>
									<td class="text-center">{{vehicle_list.vehicle_no}}</td>
									<td class="text-center">{{vehicle_list.mileage}}</td>
									<td class="text-center">
										{% if vehicle_list.status == 0  %}
										Pending
										{% elif vehicle_list.status == 1  %}
										Active
										{% elif vehicle_list.status == 2  %}
										Rejected
										{% elif vehicle_list.status == 3  %}
										Deleted
										{% endif %}
									</td>
									<td class="text-center">{{vehicle_list.vehicle_category}}</td>
								</tr>
								{% endfor%}
								{% else %}
								<td class="text-center" colspan="4">No Records.</td>
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>
				<div class="mt-5">
				<a href="{{request.META.HTTP_REFERER}}" class="btn btn-sm btn-info">Go back</a>
			</div>
			</div><!-- container -->
		</div>
		
	</div>
	
</div>

<script>
	$(document).ready(function () {

		$('ul.tabs li').click(function () {
			var tab_id = $(this).attr('data-tab');

			$('ul.tabs li').removeClass('current');
			$('.tab-content').removeClass('current');

			$(this).addClass('current');
			$("#" + tab_id).addClass('current');
		})

	})
</script>
{% endblock %}